{% extends "index.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<h1>{{ title }}</h1>

<div class="flex-container mb-3">
    <a href="{% url 'addProfesor' %}" class="btn btn-success">Nuevo profesor</a> 
</div>

<table class="table table-striped table-hover table-bordered">
    <thead class="thead-light"> 
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Documento</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Funciones</th>
        </tr>
    </thead>
    <tbody>
        {% for profesor in profesores %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ profesor.id }}</td>
            <td>{{ profesor.nombre }}</td>
            <td>{{ profesor.apellido }}</td>
            <td>{{ profesor.dni }}</td>
            <td>{{ profesor.email }}</td>
            <td>{{ profesor.telefono }}</td>
            <td>
                <a href="{% url 'editarProfesor' profesor.id %}" class="btn btn-secondary btn-sm">Editar</a>
                <a href="" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}